* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Cinzel";
    src: url("./fonts/Cinzel-VariableFont_wght.ttf");
}

@font-face {
    font-family: "Dumbledor";
    src: url("./fonts/dum1.ttf");
}

html,body {
    height: 100%;
    font-family: "Cinzel";
}

body {
    align-content: center;
    background-color: #000;
    overflow-x: hidden;
}

#selection {
    backdrop-filter: blur(10px);
    height: 100%;
    gap: 0.5vw;
    min-width: 100%;
    width: max-content;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: #35354481;
}

#selection button {
    font-size: 4.3vw;
    padding: 1vw;
    text-align: left;
    background-color: #000000;
    color: #fff;
    font-weight: 700;
}

.buttonKeyWord {
    color: bisque;
}

h2 {
    font-family: Dumbledor;
    font-weight: 400;
    font-size: 8vw;
    color: #fff;
    text-align: left;
    margin: 3vw;
    margin-bottom: 0;
}

#card {
    aspect-ratio: 1/1.7;
    position: relative;
    overflow: hidden;
    background-image: url("./background.png");
    background-size: cover;
    background-position: center;
    max-height: 100%;
    margin: auto;
}

#card > * {
    position: absolute;
    inset: 0;
    
}

#background {
    mix-blend-mode: multiply;
}

#frame {
    border-image:url("./Outline.svg");
    border-image-width: 30vw;
    border-image-slice: 47%;
    border-image-repeat: stretch;
    mix-blend-mode:lighten;
    opacity: 0.3;
}

#logo {
    width: 100%;
    mix-blend-mode:lighten;
    opacity: 0.3;
}

#message {
    top: 50%;
    font-size: 11vw;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    text-align: center;
    align-content: center;
    color: rgb(255, 255, 255);
    padding: 8%;
    padding-bottom: 12%;
    padding-top: 0;
    text-shadow: 5px 5px 10px #000, 5px 5px 10px #000;
    font-weight: 600;
}

.keyWord {
    color: bisque;
    font-family: Dumbledor;
    font-weight: 400;
    font-size: 15vw;
}

.mini {
    font-size: 6vw;
}

.hidden {
    display: none !important;
}

select, input {
    margin: 2vw;
    width: min-content;
    font-size: 4.3vw;
    padding: 1vw;
    text-align: left;
    background-color: #000000;
    color: #fff;
    font-weight: 700;
}

.break {
    content: "";
    width: 100%;
    min-height: 2vw;
    max-width: 2vw;
    
}

@media (min-aspect-ratio: 1/1.7) {
    #frame {
        border-image-width: calc(30vh / 1.7);
    }
    .mini {
        font-size: calc(6vh / 1.7);
    }
    .keyWord {
        font-size: calc(15vh / 1.7);
    }
    #message {
        font-size: calc(11vh / 1.7);
    }
    #selection {
        gap: calc(0.5vh / 1.7);
    }
    #selection button {
        font-size: calc(4.3vh / 1.7);
        padding: calc(1vh / 1.7);
    }
    h2 {
        font-size: calc(8vh / 1.7);
        margin: calc(3vh / 1.7);
    }
    select, input {
        margin: calc(2vh / 1.7);
        font-size: calc(4.3vh / 1.7);
        padding: calc(1vh / 1.7);
    }
    .break {
        min-height: calc(2vh / 1.7);
        max-width: calc(2vh / 1.7);
    }
}